@import 'theme.css';
window#osd {
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  background: #ffffff;
}

#container {
  margin: 16px; 
  background: ;
}
image,
label {
  color: @red; 
  -gtk-icon-transform: scale(0.8);
  }
progressbar:disabled,
image:disabled {
  opacity: 0.5; 
}
progressbar {
  min-height: 6px;
  border-radius: 999px;
  border: none; 
}
trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
}
progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #ffffff;
}
