assets/
btop/
GIMP/
grammarly-languageserver/
gtkrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate-externaltoolspluginrc
katerc
katevirc
kcminputrc
kconf_updaterc
KDE/
kde.org/
kded5rc
kded6rc
kdedefaults/
kdeglobals
kdeglobals.old
kdenlive-layoutsrc
kdenliverc
kglobalshortcutsrc
kiorc
Kitware/
kmenueditrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
libreoffice/
mimeapps.list
nautilus/
nvim.bak
nwg-look/
paru/
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
PlasmaDiscoverUpdates
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powermanagementprofilesrc
Proton/
pulse/
qBittorrent/
QtProject.conf
session/
spectaclerc
spotify/
strawberry/
systemd/
systemmonitorrc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vlc/
yay/
fastanime/
obs-studio
dconf/
glow/
discord/
mpv/
easytag/ 
